@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 320px) and (max-width: 375px) {
    .upi-container {
        width: 100%;
        /* Limit max width for larger screens */
        margin: 0px;
        /* Center the container */
        padding: 0px 0px;
        /* Add padding */
        /* background-color: #f1f1eb; */


    }

    .modal-overlay {
        position: absolute;
        left: 0% !important;
        top: 0%;
        display: flex;
        justify-content: center;
        z-index: 0;

    }

    .qr-code-placeholder {
        position: relative;
        left: 12% !important;
        top: 10% !important;
        width: 225px !important;
        display: flex !important;
        justify-content: center !important;

    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .upi-container {
        width: 100%;
        /* Limit max width for larger screens */
        margin: 0px;
        /* Center the container */
        padding: 0px 0px;
        /* Add padding */
        /* background-color: #f1f1eb; */


    }

    .modal-overlay {
        position: absolute;
        left: 0% !important;
        top: 0%;
        display: flex;
        justify-content: center;
        z-index: 0;

    }

    .qr-code-placeholder {
        position: relative;
        left: 18% !important;
        top: 10% !important;
        width: 225px !important;
        display: flex !important;
        justify-content: center !important;

    }
}








@media (min-width: 425px) and (max-width: 768px) {

    .upi-container {
        width: 100%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
        display: flex;
        justify-content: center;
    }

    .modal-overlay {
        position: absolute;
        left: 0% !important;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .qr-code-placeholder {
        position: relative;
        left: 23% !important;
        top: 10% !important;
        width: 205px !important;
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 10px;

    }
}



/* Large screens (1024px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
    .upi-container {
        width: 60%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
    }

    .modal-overlay {
        position: absolute;
        left: 22% !important;
        top: 3%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .qr-code-placeholder {
        position: relative;
        left: 15% !important;
        top: 10% !important;
        width: 300px !important;
        /* Fixed width for large screens */
        height: 335px !important;
        /* Fixed height for large screens */
        display: flex;
        justify-content: center;
    }
}

/* Extra-large screens (1440px and up) */
@media (min-width: 1024px) and (max-width: 1440px) {

    .upi-container {
        width: 50%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
    }

    .modal-overlay {
        position: absolute;
        left: 27% !important;
        top: 3% !important;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .qr-code-placeholder {
        position: relative;
        left: 16% !important;
        top: 1% !important;
        width: 320px !important;
        /* Fixed width for extra-large screens */
        height: 350px !important;
        /* Fixed height for extra-large screens */
        display: flex;
        justify-content: center;

    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .upi-container {
        width: 40%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
    }

    .modal-overlay {
        position: absolute;
        left: 32% !important;
        top: 3%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .qr-code-placeholder {
        position: relative;
        left: 18% !important;
        top: 1% !important;
        width: 350px !important;
        /* Fixed width for extra-large screens */
        height: 350px !important;
        /* Fixed height for extra-large screens */
        display: flex;
        justify-content: center;

    }
}

@media (min-width: 2560px) {
    .qr-code-placeholder {
        position: relative;
        left: 32% !important;
        top: 1% !important;
        width: 350px !important;
        /* Fixed width for extra-large screens */
        height: 350px !important;
        /* Fixed height for extra-large screens */
        display: flex;
        justify-content: center;

    }
}





/* Container for the entire payment section */
.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* QR code styles */
.qr-code {
    width: 100%;
    /* Full width of its container */
    /* max-width: 300px; */
    /* Default maximum width */
    aspect-ratio: 1 / 1;
    /* Keeps the element square */
    background-color: #e5e5e5;
    /* Background color */
    border-radius: 8px;
    /* Rounded corners */
    /* margin: 0 auto; */
    /* Centers it horizontally */
}

.text-gradient {
    background: linear-gradient(to right, #68d391, #4299e1);
    /* Matches green-400 to blue-500 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress-circle {
    transform: rotate(0deg);
}

.progress-background {
    stroke-width: 10;
}

.progress-bar {
    stroke-width: 10;
    transition: stroke-dashoffset 1s linear, stroke 1s linear;
    stroke-linecap: round;
}


.upi-header {
    text-align: center;
    /* Center text */
}

.progress-circle {
    margin: 0 auto;
    /* Center the SVG */
}