@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 320px) and (max-width: 375px){
  .card-container {
      width: 100% !important;
      /* Limit max width for larger screens */
      margin: 0px;
      /* Center the container */
      padding: 0px 0px;
      /* Add padding */
      /* background-color: #f1f1eb; */


  }

  .modal-overlay-card {
      position: absolute;
      left: 0% !important;
      top: 0%;
      display: flex;
      justify-content: center;
      z-index: 0;

  }

}

@media (min-width: 375px) and (max-width: 425px){
  .card-container {
      width: 100%;
      /* Limit max width for larger screens */
      margin: 0px;
      /* Center the container */
      padding: 0px 0px;
      /* Add padding */
      /* background-color: #f1f1eb; */


  }

  .modal-overlay-card {
      position: absolute;
      left: 0% !important;
      top: 0%;
      display: flex;
      justify-content: center;
      z-index: 0;

  }

}








@media (min-width: 425px) and (max-width: 768px){

  .card-container {
      width: 100% !important;
      /* Limit max width for larger screens */
      margin: auto;
      /* Center the container */
      padding: 15px;
      /* Add padding */
      background-color: #f1f1eb;
      display: flex;
      justify-content: center;
  }

  .modal-overlay-card {
      position: absolute;
      right: 0% !important;
      top: 0;
      display: flex;
      justify-content: center;
      z-index: 0;
  }

}



/* Large screens (1024px and up) */
@media (min-width: 768px) and (max-width: 1024px){
  .card-container {
      width: 55% !important;
      /* Limit max width for larger screens */
      margin: auto;
      /* Center the container */
      padding: 15px;
      /* Add padding */
      background-color: #f1f1eb;
  }

  .modal-overlay-card {
      position: absolute;
      right: 17% !important;
      top: 3%;
      display: flex;
      justify-content: center;
      z-index: 0;
  }

}

/* Extra-large screens (1440px and up) */
@media (min-width: 1024px) and (max-width: 1440px){

  .card-container {
      width: 40% !important;
      /* Limit max width for larger screens */
      margin: auto;
      /* Center the container */
      padding: 15px;
      /* Add padding */
      background-color: #f1f1eb;
  }

  .modal-overlay-card {
      position: absolute;
      right: 27% !important;
      top: 3% !important;
      display: flex;
      justify-content: center;
      z-index: 0;
  }

 
}

@media (min-width: 1440px) and (max-width: 2560px){
  .card-container {
      width: 40%;
      /* Limit max width for larger screens */
      margin: auto;
      /* Center the container */
      padding: 15px;
      /* Add padding */
      background-color: #f1f1eb;
  }

  .modal-overlay-card {
      position: absolute;
      left: 27% !important;
      top: 3%;
      display: flex;
      justify-content: center;
      z-index: 0;
  }
 
}
@media (min-width: 2560px) {
  .card-container {
    width: 40% !important;
    /* Limit max width for larger screens */
    margin: auto;
    /* Center the container */
    padding: 15px;
    /* Add padding */
    background-color: #f1f1eb;
}

.modal-overlay-card {
    position: absolute;
    left: 31% !important;
    top: 3%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

}




  