@tailwind base;
@tailwind components;
@tailwind utilities;

.bank-header {
    text-align: center;
    /* Center text */
}

.progress-circle {
    margin: 0 auto;
    /* Center the SVG */
}

.text-gradient {
    background: linear-gradient(to right, #68d391, #4299e1);
    /* Matches green-400 to blue-500 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress-circle {
    transform: rotate(0deg);
}

.progress-background {
    stroke-width: 10;
}

.progress-bar {
    stroke-width: 10;
    transition: stroke-dashoffset 1s linear, stroke 1s linear;
    stroke-linecap: round;
}

@media (min-width: 320px) and (max-width: 375px) {
    .bank-container {
        width: 100%;
        /* Limit max width for larger screens */
        margin: 0px;
        /* Center the container */
        padding: 0px 0px;
        /* Add padding */
        /* background-color: #f1f1eb; */
    }

    .modal-overlay-bank {
        position: absolute;
        left: 0% !important;
        top: 0%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .bank-container {
        width: 100%;
        /* Limit max width for larger screens */
        margin: 0px;
        /* Center the container */
        padding: 0px 0px;
        /* Add padding */
        /* background-color: #f1f1eb; */
    }

    .modal-overlay-bank {
        position: absolute;
        left: 0% !important;
        top: 0%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }
}

@media (min-width: 425px) and (max-width: 768px) {

    .bank-container {
        width: 100%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
        display: flex;
        justify-content: center;
    }

    .modal-overlay-bank {
        position: absolute;
        left: 0% !important;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: 0;
    }
}

/* Large screens (1024px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
    .bank-container {
        width: 60%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
    }

    .modal-overlay-bank {
        position: absolute;
        left: 22% !important;
        top: 3%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }
}

/* Extra-large screens (1440px and up) */
@media (min-width: 1024px) and (max-width: 1440px) {
    .bank-container {
        width: 47%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
    }

    .modal-overlay-bank {
        position: absolute;
        left: 27% !important;
        top: 3% !important;
        display: flex;
        justify-content: center;
        z-index: 0;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .bank-container {
        width: 35%;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
    }

    .modal-overlay-bank {
        position: absolute;
        left: 34% !important;
        top: 3%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }
}

@media (min-width: 2560px) {
    .bank-container {
        width: 33% !important;
        /* Limit max width for larger screens */
        margin: auto;
        /* Center the container */
        padding: 15px;
        /* Add padding */
        background-color: #f1f1eb;
    }
}